legend {
    /* legend defaults to `display: table`, breaking materilize */
    display: inline-block;
}

.modal-trigger[href='#modal-booking-loading'] {
    display: none;
}

@media only screen and (min-width: 50em) {
    main.container {
        max-width: 50em;
    }
}
